// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.address-tag {
 margin: 50px 0 40px 150px;
 width: 250px;
}

.address-field {
 margin: 10px 0 0 50px;
}

.address-field-tag {
 width: 220px;
}

.address-new-m {
 margin-left: 255px;
 width: 130px;
}

.add-postal_code-box {
 padding: 5px;
 width: 100px;
 height: 50px;
}

.add-address-box {
 padding: 5px;
 width: 300px;
 height: 50px;
}

.add-name-box {
 padding: 5px;
 width: 100px;
 height: 50px;
}

.add-link-box {
 padding: 5px;
 width: 250px;
 height: 50px;
}

