// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-item {
 margin: 50px 0 0 150px;
}

.admin-item-edit-m {
 margin-left: 200px;
}

.admin-item-edit {
 width: 180px;
}

.admin-item-top {
 width: 200px;
}

.admin-items-id {
 width: 150px;
}

.admin-items-name {
 width: 300px;
}

.admin-items-price {
 width: 150px;
}

.admin-items-genre {
 width: 300px;
}

.admin-item-edit-th {
 width: 150px;
}

.admin-item-edit-td {
 width: 280px;
}

.admin-item-edit-intr {
 height: 160px;
}

.admin-item-edit-submit {
 margin-left: 80px;
}

.admin-item-show {
 margin: 50px 0 0 150px;
}

.admin-item-show-top {
 width: 150px;
 margin-bottom: 100px;
}

.admin-item-show-th {
 width: 150px;
}

.admin-item-show-link {
 margin: 50px 0 0 400px;
}

.admin-item-new {
 margin: 50px 0 0 150px;
}

.admin-item-new-top {
 width: 180px;
}

.admin-item-new-body {
 margin: 50px 0 0 100px;
}

.admin-item-new-th {
 width: 130px;
}

.admin-item-new-td {
 width: 300px;
}

.admin-item-new-intr {
 height: 150px;
}

.admin-item-new-link {
 margin-left: 200px ;
}