// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-order-item-name {
 width: 200px;
}

.admin-order-item-price {
 width: 150px;
}

.admin-order-item-amount {
 width: 100px;
}

.admin-order-item-total {
 width: 100px;
}

.admin-order-price {
 position: absolute;
 right: 400px;
 bottom: 100px;
}